.post {
    .post__title {
        h1 {
            padding: .5em 0;
        }
    }

    .sub-info {
        @include flexbox;
        @include align(center);
        //margin-top: 1.5em;
        .sub-left {
            @include flex(1);

            span {
                font-size: .8em;
            }
        }

        .sub-right {
        }
    }

    .post__content {
        max-width: 500px;
        margin: 2rem auto;

        h3 {
            margin: .5em 0 .8em;
            font-size: 1.15rem;
            font-weight: 600;
            line-height: 28px;
        }

        p, div {
            font-size: .9rem;
        }
    }

    .post__rating {
        @include flexbox;
        @include align(center);

        > div {
            @include flexbox;
            @include align(center);

            &:first-child {
                @include flex(1);
            }
        }

        i {
            margin-right: 5px;
        }
    }

    .post__comments {
    }

    .post__relates {
    }
}

.post-jump {

    a {
        font-size: .85em;
        display: block;
        //border: 1px solid;
        line-height: 1.2;
        padding: 4px 0;
    }

    .jump {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 250px;
        //border: 1px solid #f42;
        // border-left: 3px solid $color;
        li {
            display: block;
            padding-left: 15px;
            padding-top: 3px;
            padding-bottom: 3px;
            border-left: 3px solid rgba($color, .3);
            @include transition(.25s);

            &:hover {
                border-left: 3px solid $a-color-hover;
                background-color: rgba($a-color-hover, .15);

                a {
                    text-shadow: none;
                    color: $color !important;
                }
            }
        }
    }
}

.post-share {
    position: fixed;
    bottom: 190px;
    right: 32px;
    z-index: 2;
}

.post-relates {
    position: fixed;
    bottom: 64px;
    left: 0;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    padding: 20px;
    transition: .25s ease-in-out;
    transform: translateX(-100%);
    border-right: 4px solid $color;

    h5 {
        position: relative;
        margin-bottom: 10px;

        &:after {
            position: absolute;
            bottom: -5px;
            height: 2px;
            width: 50px;
            background-color: $color;
            display: block;
            content: '';
        }
    }
}
