a {
    text-decoration: none;
    color: $a-color;
    //border: 1px solid red;
    @include transition(.25s);
    position: relative;
    overflow: hidden;


    &:before {
        // content: '';
        position: absolute;
        display: block;
        top: 100%;
        left: 0;
        height: 2px;
        width: 100%;
        background: $a-color;
        opacity: 0;
        @include transition(.25s ease-in-out);
        @include transform(translateX(-40%));
    }

    &:hover {
        color: $a-color-hover !important;
        text-shadow: 0 2px 2px rgba(0,0,0,.3);

        &:before {
            width: 100%;
            opacity: 1;
            @include transform(translateX(0));
        }
    }
}

.bgc-main {
    background-color: $color !important;
}

.tc-main {
    color: $color !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;

    &.absolute--full {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.img-circle {
    border-radius: 50%;
}

.text-capitalize {
    text-transform: capitalize;
}

.tags {
    margin: 0;
    padding: 0;
    list-style: none;
    @include clearfix;

    li {
        display: block;
        float: left;

        a {
            display: block;
            //border: 2px solid $color;
            padding: 4px 10px;
            font-size: .8em;
            font-size: 12px;
            font-weight: 400;
            text-transform: lowercase;
            margin-right: 5px;
            border-radius: 25px;
            background-color: $color;
            color: #fff;

            &:hover {
                background-color: $dark !important;
                color: #fff !important;
            }
        }
    }
}

.list-inline {
    @include clearfix;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        display: block;
        float: left;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.h {
    min-height: 500px;
}

.hr {
    border: none;
    //height: 20px;
    width: 90%;
    //height: 50px;
    margin-top: 0;
    border-bottom: 1px solid transparent;
    box-shadow: 0 20px 20px -20px #333;
}

.spacer {
    //margin-top: 100px;
    //margin-left: 100px;
    //width: 400px;
    position: relative;

    .mask {
        overflow: hidden;
        height: 20px;

        &:after {
            content: '';
            display: block;
            margin: -25px auto 0;
            width: 100%;
            height: 25px;
            border-radius: 125px / 12px;
            box-shadow: 0 0 8px black;
        }
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.center-block {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

.chip {
    $h: 30px;

    i {
        position: relative;
        left: $h;
    }

    span {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        background-color: rgba($color, .5);
        padding-left: 40px;
        padding-right: 10px;
        border-radius: $h/2;
        color: $light;
    }

    &.chip--multi {
        //position: relative;
        //left: -30px;
        i {
            left: 0;
        }

        span {
            //position: relative;
            margin-left: -30px;
        }
    }
}

.content-wrapper {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}