$dark: #212121;
$color: #c2185b;// #880e4f; // #263238; // #1C2331;
$main: #c2185b;
$a-color: #212121;
$a-color-hover: $color; // #f42;
$sub-color: #f9f9f9;
$white-color: #FAFAFA;
$light: $white-color;
$max-width: 500px;