@{
    ViewBag.Title = "Home Page";
}

<div class="s-post-container">

    @for (int i = 0; i < 10; i++)
    {
        @Html.Partial("_Post", i)
    }

</div>

<div class="s-post-paging">1/16</div>

@section largeTitle {
    @Html.Partial("_LargeTitle")
}