.page-wrapper {
    position: relative;
    z-index: $page-wrapper_index;
    margin-top: -150px;
}

.page__nav {
    position: fixed;
    top: $menu_height + 100px;
    left: 0;
    //height: 100%;
    width: 200px;
    z-index: $page__nav_index;
    @include transition(.5s ease-in-out);
    @include transform(translateX(-100%));

    li + li {
        border-top: 1px solid $light;
    }

    a {
        color: $light;
        display: block;

        &:hover {
            color: $dark;
        }
    }
}

.header.fixed + .main {
    .page__nav {
        @include transform(translateX(0));
    }
}

.page__relate {
    a {
        display: block;
        color: $light;

        &:hover {
            color: $dark;
        }
    }

    h4 {
        border-bottom: 1px solid #eee;
    }
}

.page__feature {
    > h5 {
        color: $main;
        padding-bottom: 4px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1em;
    }
}

.comments {
    > li + li {
        border-top: 1px dashed #ddd;
    }
}

.comment {
    .comment-by {
        padding: 10px 16px 5px;
        padding-left: 52px;

        a {
            color: $light;

            &:hover {
                color: $dark;
            }
        }
    }

    .comment__text {
        padding: 24px 16px 16px;
        @include transition(.25s);
        border-top: 1px solid #ddd;
        //background-color: #fff;
    }

    &:hover {
        .comment__text {
            background-color: #fff;
            box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
        }
    }
}

.comment__author {
    position: relative;
    //border-bottom: 1px solid #eee;

    .author-avatar {
        position: absolute;
        display: block;
        overflow: hidden;
        top: 16px;
        left: 16px;

        img {
            display: block;
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 50%;
            padding: 3px;
            background-color: #fff;
            border: 1px solid #eee;
        }
    }
}

.page__content {
    > h3 {
        margin: 2em 0 .5em;
        font-size: 1.5em;
    }

    p {
        font-size: 1.15em;
        margin-bottom: 1em;
    }
}

.page__tags {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    @include flexbox;
    @include align(center);

    > ul {

    }

    .statistic {
        @include flex(1);
    }
}

.br-theme-fontawesome-stars .br-widget a.br-selected:after {
    color: $main !important;
}

.page__share {
    position: fixed;
    bottom: 128px;
    right: 32px;
}

.comment__note {
    font-size: 1.2em;
    color: $main;
    text-transform: uppercase;
}

.comment-wrapper {
    position: relative;
    margin-bottom: 6em;

    .btn-submit-comment {
        position: absolute !important;
        bottom: -18px;
        right: 32px;
    }
}

.posted__by {
    font-size: .9em;
    color: $light;

    a {
        color: $main;
    }
}

@media screen and (max-width: $mobile) {
    .page__tags {
        @include flex-direction(column);
    }

    .page__feature {
        max-width: 100%;
        margin-left: $mobile_gap;
        margin-right: $mobile_gap;
    }
}