$post__cover_height: 250px;
$stt__interactive: 36px;

.posts {
    max-width: 500px;
}

.post {
    margin-bottom: 3em;
}

.post__cover {
    max-height: $post__cover_height;
    overflow: hidden;

    img {
        min-width: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        display: block;
    }
}

.post__tag {
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
    @include flexbox;
    @include align(center);

    ul {
        display: inline-block;
        margin: 10px auto;
    }

    li {
        display: inline-block;
    }

    a {
        //display: block;
        //padding: 5px 10px;
        //font-size: 1em;
    }

    .timestamp {
        @include flex(1);
        @include flexbox;
        @include align(center);
        @include justify-content(flex-end);

        i:before {
            //font-size: 1.5em;
        }
    }

    .post__rate {
        position: absolute !important;
        right: 32px;
        top: -18px;
        background-color: $main !important;
    }
}

.post__title {
    a {
        //padding: 1.5em;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        color: $main;
    }
}

.post__info {
    padding: 1.5em;
}

.post__description {
    a {
        color: $main;
        padding-left: 5px;
    }
}

.post__statistic {
    @include flexbox;
    @include align(center);
    padding: 0 1.5em 1.5em;
}

.stt__viewer {
}

.stt__interactive {
    @include flex(1);

    li {
        display: inline-block;
    }
}

.quick--interactive2 {
    @include flexbox;
    @include align(center);
}

.post__statistic, .quick--interactive2 {
    span, i {
        height: $stt__interactive;
        line-height: $stt__interactive;
    }
}

.post__paging {
    > button {
        &:first-child, &:last-child {
            padding-left: 32px;
            padding-right: 32px;
            border-radius: 20px;
        }
    }

    .pager {
        display: inline-block;

        li {
            display: inline-block;
        }
    }
}


@media screen and (max-width: $mobile) {
    .posts {
        max-width: 100%;
        margin-left: $mobile_gap;
        margin-right: $mobile_gap;
    }

    .post__paging {
        text-align: center;
    }
}
