@charset "UTF-8";
a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

.container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    width: 970px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto; }

.clearfix:before,
.clearfix:after
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: " "; }

.clearfix:after,
.container:after,
.container-fluid:after {
  clear: both; }

.tc-main {
  color: #f42 !important; }

.bgc-main {
  background-color: #f42 !important; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.b {
  border: 1px solid #f42; }

.tags a {
  border-radius: 15px;
  padding: 5px 8px;
  color: #aaa; }
  .tags a:hover {
    background-color: #f42;
    color: #fff; }

.list-unstyle {
  list-style: none; }

@-webkit-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
@-o-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
@keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
/* Styles for old versions of IE */
.heartbeat {
  font-family: sans-serif;
  font-weight: 100; }

/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  -khtml-animation: heartbeat 1300ms ease 0s infinite normal;
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  -ms-animation: heartbeat 1300ms ease 0s infinite normal;
  -o-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.heartbeat:not(:required):after, .heartbeat:not(:required):before {
  position: absolute;
  content: "";
  background: #f42; }

.heartbeat:not(:required):before {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  top: 4px;
  left: 0;
  width: 12px;
  height: 8px; }

.heartbeat:not(:required):after {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  top: 0;
  left: 4px;
  width: 8px;
  height: 4px; }

html, body {
  font-size: 12px; }

.main {
  padding-top: 320px; }

.btn-scroll-top {
  position: fixed !important;
  bottom: 64px;
  right: 32px; }
  .btn-scroll-top i {
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out; }
  .btn-scroll-top.down i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); }

.header {
  position: absolute;
  width: 100%;
  min-height: 54px;
  margin-bottom: 20px;
  z-index: 1000; }
  .header.fixed {
    position: fixed;
    z-index: 2010; }
    .header.fixed .header__bg {
      background-image: url("/Content/images/bg/10.png"); }
    .header.fixed .header__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      height: 54px;
      background-color: rgba(0, 0, 0, 0.3) !important; }

.header__bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  height: 100%;
  background-image: url("/Content/images/bg/bg-one-piece.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%; }

.header__nav {
  margin-top: 200px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3); }
  .header__nav > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .header__nav > div > .div:not(.nav--left) {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .header__nav .nav--left {
    float: left; }
    .header__nav .nav--left a {
      color: #fff;
      text-transform: uppercase;
      font-size: 1.5em; }
  .header__nav .nav--right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .header__nav.header__nav--page {
    margin-top: 0;
    margin-bottom: 200px; }

.menu {
  list-style: none;
  margin: 0;
  float: right;
  margin-right: 64px; }
  .menu li {
    display: block;
    float: left; }
    .menu li a {
      display: block;
      padding: 1.5rem 2rem;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1rem; }

.btn-toggle-search {
  position: absolute !important;
  right: 32px;
  bottom: -28px;
  z-index: 1101; }
  .btn-toggle-search i {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .btn-toggle-search .mdi-close {
    position: absolute;
    left: 20px;
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px); }
  .btn-toggle-search.active .mdi-close {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  .btn-toggle-search.active .mdi-magnify {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px); }

.header__search {
  position: absolute;
  background: #fff;
  left: 0;
  width: 100%;
  z-index: 1100;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center; }
  .header__search.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1); }

.header__search__result {
  height: 300px;
  position: absolute;
  top: 320px; }

.famous-quote {
  text-align: center;
  padding: 3em 0;
  background-color: #F6F6F6; }
  .famous-quote h5 {
    text-transform: uppercase;
    color: #555; }
  .famous-quote p {
    color: #f42;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -.025em;
    line-height: 1;
    margin-bottom: .5em;
    font-size: 56px; }
    .famous-quote p:before {
      content: '“'; }
    .famous-quote p:after {
      content: '”'; }

.footer-social {
  text-align: center;
  background-color: #131313; }
  .footer-social .socials {
    padding: 32px 0 10px; }
  .footer-social button {
    margin: 0 5px; }
  .footer-social .sitemap {
    display: inline-block;
    margin: 10px auto;
    list-style: none; }
    .footer-social .sitemap li {
      display: inline-block; }
    .footer-social .sitemap a {
      display: block;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
      color: #fff; }

.footer-legal {
  background-color: #000;
  color: #aaa;
  font-size: 12px;
  padding: 3em 0;
  text-align: center; }
  .footer-legal a {
    color: #aaa; }

.posts {
  max-width: 500px; }

.post {
  margin-bottom: 3em; }

.post__cover {
  max-height: 250px;
  overflow: hidden; }
  .post__cover img {
    min-width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    display: block; }

.post__tag {
  border-bottom: 1px solid #ddd;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .post__tag ul {
    display: inline-block;
    margin: 10px auto; }
  .post__tag li {
    display: inline-block; }
  .post__tag .timestamp {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end; }
  .post__tag .post__rate {
    position: absolute !important;
    right: 32px;
    top: -18px;
    background-color: #f42 !important; }

.post__title a {
  text-transform: uppercase;
  font-weight: 600;
  display: block;
  color: #f42; }

.post__info {
  padding: 1.5em; }

.post__description a {
  color: #f42;
  padding-left: 5px; }

.post__statistic {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 1.5em 1.5em; }

.stt__interactive {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .stt__interactive li {
    display: inline-block; }

.quick--interactive2 {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.post__statistic span, .post__statistic i, .quick--interactive2 span, .quick--interactive2 i {
  height: 36px;
  line-height: 36px; }

.post__paging > button:first-child, .post__paging > button:last-child {
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 20px; }
.post__paging .pager {
  display: inline-block; }
  .post__paging .pager li {
    display: inline-block; }

.feature {
  max-width: 250px;
  margin-right: 0;
  margin: 0 auto; }
  .feature .feature__content > li {
    padding: 1em 1.5em; }
  .feature.feature--has-divider .feature__content > li {
    border-bottom: 1px solid #ddd; }
  .feature.feature--sm .feature__content > li {
    padding: .25em 1.5em; }

.feature__title {
  padding: 1em 1.5em;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  color: #f42;
  text-transform: uppercase; }

.feature__permalink {
  display: block;
  color: #aaa; }
  .feature__permalink:hover {
    color: #212121; }

.feature__pub {
  font-size: 1em;
  color: #aaa;
  padding: 5px 0; }

.feature__interactive {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .feature__interactive span, .feature__interactive i {
    height: 30px;
    line-height: 30px; }

.cate {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .cate .cate__tag {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #aaa;
    opacity: .85; }
  .cate .cate__count {
    padding: 4px 8px;
    color: #aaa;
    border-radius: 20px; }
  .cate:hover .cate__tag {
    color: #212121;
    opacity: 1; }
  .cate:hover .cate__count {
    color: #fff;
    background-color: #f42; }

.page-wrapper {
  position: relative;
  z-index: 2000;
  margin-top: -150px; }

.page__nav {
  position: fixed;
  top: 154px;
  left: 0;
  width: 200px;
  z-index: 999;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }
  .page__nav li + li {
    border-top: 1px solid #aaa; }
  .page__nav a {
    color: #aaa;
    display: block; }
    .page__nav a:hover {
      color: #212121; }

.header.fixed + .main .page__nav {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }

/*# sourceMappingURL=quang.css.map */
