<div class="footer-fixed">
    <div class="footer__left">
        <span>T</span>
        @*<span><img src="~/Content/images/heart.svg" /></span>*@
        <span class="heartbeat"></span>
        <span>Q</span>
        <span>&copy; 2016</span>
    </div>
    <div class="footer__center"></div>
    <div class="footer__right">
        <ul class="list-inline">
            <li><a href="#">intro</a></li>
            <li><a href="#">policy &amp; privacy</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </div>
</div>