<div class="nav" id="nav">
    <div class="nav__left">
        <a href="@Url.AbsoluteAction("Index","Home")">
            <img alt="tien quang" width="64" height="64" src="@Url.AbsoluteContent("~/Content/images/kratos.png")" />            
        </a>
        <h2><a href="@Url.AbsoluteAction("Index","Home")" rel="nofollow" title="Phan Tien Quang's Official Site" target="_self" id="logo-text">tien quang</a></h2>
    </div>
    <nav class="nav__right">
        <ul class="menu">
            <li>
                <a href="#" rel="nofollow" target="_self">dev</a>
            </li>
            <li>
                <a href="#" rel="nofollow" target="_self">life</a>
            </li>
            <li>
                <a href="#" rel="nofollow" target="_self">porfolio</a>
            </li>
        </ul>
        <lx-button lx-type="fab" class="btn-toggle-search bgc-white tc-main"><i class="mdi mdi-magnify"></i></lx-button>
    </nav>
</div>
