
<div class="s-post card z-depth1">
    <h4 class="s-post__title">
        <a href="#" title="lorem ipsum dolor sit amet" target="_self">
            lorem ipsum dolor sit amet, consit adapisicing elet, sed do eiusmod
        </a>
    </h4>
    <div class="s-post__preview relative">
        <a href="#" title="" target="_self">
            <div class="absolute absolute--full"></div>
        </a>        
        <img src="@Url.AbsoluteContent("~/Uploads/lorem-ipsum-dolor-sit-amet.PNG")" width="500" height="250" alt="" />

        <div class="description">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
        </div>
    </div>
    <div class="s-post__social p">
        <div class="social-left">
            <ul class="tags">
                <li><a href="#">lorem</a></li>
                <li><a href="#">dolor sit</a></li>
                <li><a href="#">amet</a></li>
            </ul>
        </div>
        <div class="social-right">
            <lx-fab lx-direction="up">
                <lx-fab-trigger>
                    <lx-button lx-size="xl" lx-type="fab" lx-tooltip="Add" lx-tooltip-position="left" lx-color="black">
                        <i class="mdi mdi-share-variant"></i>
                        <i class="mdi mdi-plus"></i>
                    </lx-button>
                </lx-fab-trigger>

                <lx-fab-actions>
                    <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Delete" lx-tooltip-position="left">
                        <i class="mdi mdi-delete"></i>
                    </lx-button>

                    <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Archive" lx-tooltip-position="left">
                        <i class="mdi mdi-package"></i>
                    </lx-button>

                    <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="Edit" lx-tooltip-position="left">
                        <i class="mdi mdi-pencil"></i>
                    </lx-button>
                </lx-fab-actions>
            </lx-fab>
        </div>
    </div>
    
    <div class="s-post__lasted-comment">
        <img alt="" width="32" height="32" src="@Url.AbsoluteContent("~/Content/images/kratos.png")" class="img-round" />
        <div class="comment-author">
            <h5 class="text-capitalize">lorem ipsum dolor</h5>
            <div class="fs-caption">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            </div>
        </div>
    </div>
</div>