a {
  text-decoration: none;
  color: #212121;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  position: relative;
  overflow: hidden; }
  a:before {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #212121;
    opacity: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: translateX(-40%);
    -moz-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    -o-transform: translateX(-40%);
    transform: translateX(-40%); }
  a:hover {
    color: #c2185b !important;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
    a:hover:before {
      width: 100%;
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }

.bgc-main {
  background-color: #c2185b !important; }

.tc-main {
  color: #c2185b !important; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }
  .absolute.absolute--full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }

.img-circle {
  border-radius: 50%; }

.text-capitalize {
  text-transform: capitalize; }

.tags {
  margin: 0;
  padding: 0;
  list-style: none; }
  .tags:after {
    display: block;
    content: '';
    clear: both; }
  .tags li {
    display: block;
    float: left; }
    .tags li a {
      display: block;
      padding: 4px 10px;
      font-size: .8em;
      font-size: 12px;
      font-weight: 400;
      text-transform: lowercase;
      margin-right: 5px;
      border-radius: 25px;
      background-color: #c2185b;
      color: #fff; }
      .tags li a:hover {
        background-color: #212121 !important;
        color: #fff !important; }

.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline:after {
    display: block;
    content: '';
    clear: both; }
  .list-inline > li {
    display: block;
    float: left; }

.container {
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.h {
  min-height: 500px; }

.hr {
  border: none;
  width: 90%;
  margin-top: 0;
  border-bottom: 1px solid transparent;
  box-shadow: 0 20px 20px -20px #333; }

.spacer {
  position: relative; }
  .spacer .mask {
    overflow: hidden;
    height: 20px; }
    .spacer .mask:after {
      content: '';
      display: block;
      margin: -25px auto 0;
      width: 100%;
      height: 25px;
      border-radius: 125px / 12px;
      box-shadow: 0 0 8px black; }

.text-uppercase {
  text-transform: uppercase; }

.center-block {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.chip i {
  position: relative;
  left: 30px; }
.chip span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background-color: rgba(194, 24, 91, 0.5);
  padding-left: 40px;
  padding-right: 10px;
  border-radius: 15px;
  color: #FAFAFA; }
.chip.chip--multi i {
  left: 0; }
.chip.chip--multi span {
  margin-left: -30px; }

.content-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

@-webkit-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
@-moz-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
@-o-keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
@keyframes heartbeat {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3); }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1); } }
/* Styles for old versions of IE */
.heartbeat {
  font-family: sans-serif;
  font-weight: 100; }

/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
  -webkit-animation: heartbeat 1300ms ease 0s infinite normal;
  -khtml-animation: heartbeat 1300ms ease 0s infinite normal;
  -moz-animation: heartbeat 1300ms ease 0s infinite normal;
  -ms-animation: heartbeat 1300ms ease 0s infinite normal;
  -o-animation: heartbeat 1300ms ease 0s infinite normal;
  animation: heartbeat 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 12px;
  height: 12px;
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.heartbeat:not(:required):after, .heartbeat:not(:required):before {
  position: absolute;
  content: "";
  background: #c2185b; }

.heartbeat:not(:required):before {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  top: 4px;
  left: 0;
  width: 12px;
  height: 8px; }

.heartbeat:not(:required):after {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  top: 0;
  left: 4px;
  width: 8px;
  height: 4px; }

body.hide-scroll {
  overflow: hidden; }

.quick-nav {
  position: fixed;
  bottom: 64px;
  right: 32px;
  z-index: 2; }
  .quick-nav button {
    display: block;
    margin: 0 auto 10px auto; }

.header {
  overflow: hidden;
  background-color: #FAFAFA; }
  .header #text {
    font-size: 12em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10em auto;
    color: #FAFAFA; }

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 96px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out; }
  .nav a {
    height: 96px;
    line-height: 96px;
    font-weight: 300;
    text-transform: uppercase; }
  .nav .nav__left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .nav .nav__left img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
      margin: 0 20px; }
    .nav .nav__left a {
      display: block;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.1em;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  .nav .nav__right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .nav .nav__right .menu, .nav .nav__right li {
      list-style: none;
      margin: 0;
      padding: 0; }
      .nav .nav__right .menu:after, .nav .nav__right li:after {
        display: block;
        content: '';
        clear: both; }
      .nav .nav__right .menu li, .nav .nav__right li li {
        display: block;
        float: left; }
      .nav .nav__right .menu a, .nav .nav__right li a {
        display: block;
        float: left;
        font-size: .9rem;
        font-weight: 400;
        padding: 0 16px; }
    .nav .nav__right .btn-toggle-search {
      margin: 0 16px; }
  .nav.sm {
    height: 48px; }
    .nav.sm a {
      height: 48px;
      line-height: 48px; }
    .nav.sm .nav__left img {
      width: 40px;
      height: 40px;
      border: 1px solid #ddd;
      padding: 2px; }
    .nav.sm .nav__left h2 a {
      font-size: .75em; }

.sticky-wrapper {
  margin: 20px 0; }
  .sticky-wrapper .filter-tabs {
    z-index: 2000 !important; }
  .sticky-wrapper.is-sticky .filter-tabs {
    background-color: #fff;
    border-bottom: 2px solid #c2185b; }
    .sticky-wrapper.is-sticky .filter-tabs a {
      height: 32px;
      line-height: 32px;
      font-size: .8em;
      font-size: .8em !important; }

.s-post-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.s-post-paging {
  position: fixed;
  bottom: 0;
  font-size: .7rem;
  color: #fff;
  z-index: 2000;
  text-align: center;
  padding: 5px;
  left: 40%;
  right: 40%;
  width: 100px;
  margin: 0 auto;
  background-color: #c2185b; }

.s-post {
  margin-top: 1rem;
  margin-bottom: 3rem; }
  .s-post .s-post__title a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    padding: 1em; }
  .s-post .s-post__social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .s-post .s-post__social .social-left {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .s-post .s-post__social .social-right .fab__actions {
      z-index: 3; }
  .s-post .s-post__lasted-comment {
    background: #f9f9f9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px; }
    .s-post .s-post__lasted-comment img {
      margin-right: 10px; }
    .s-post .s-post__lasted-comment div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: .85em; }
  .s-post .s-post__preview {
    position: relative;
    overflow: hidden; }
    .s-post .s-post__preview a {
      position: static !important; }
    .s-post .s-post__preview img {
      max-width: 100%;
      display: block;
      object-fit: cover;
      -webkit-filter: grayscale(100%);
      /* Chrome, Safari, Opera */
      filter: grayscale(100%); }
    .s-post .s-post__preview .description {
      font-size: .9em;
      padding: 20px; }
    .s-post .s-post__preview:hover .description {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
  .s-post:hover img {
    -webkit-filter: grayscale(0);
    /* Chrome, Safari, Opera */
    filter: grayscale(0); }

.s-post__preview img + .description {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transform: translateY(32px);
  -moz-transform: translateY(32px);
  -ms-transform: translateY(32px);
  -o-transform: translateY(32px);
  transform: translateY(32px);
  opacity: 0; }
.s-post__preview .link + .description {
  background-color: #FAFAFA;
  border-top: 1px dashed;
  border-bottom: 1px dashed; }

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: .7rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-transform: uppercase;
  padding: 5px 10px;
  color: #FAFAFA; }
  .footer-fixed .footer__left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .footer-fixed .footer__left span {
      margin: 0 2px;
      font-weight: 600; }
      .footer-fixed .footer__left span:nth-child(1) {
        margin-right: 5px; }
      .footer-fixed .footer__left span:nth-child(3) {
        margin-left: 5px; }
      .footer-fixed .footer__left span.heartbeat {
        position: relative;
        top: -2px; }
  .footer-fixed .footer__right a {
    margin-left: 10px;
    color: #FAFAFA; }
  .footer-fixed .footer__center {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center; }

.sign-toggle-footer {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 26px;
  z-index: 100;
  text-align: right;
  padding-right: 70px; }
  .sign-toggle-footer > div {
    display: inline-block;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -o-animation-duration: 1.5s; }

.post .post__title h1 {
  padding: .5em 0; }
.post .sub-info {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .post .sub-info .sub-left {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .post .sub-info .sub-left span {
      font-size: .8em; }
.post .post__content {
  max-width: 500px;
  margin: 2rem auto; }
  .post .post__content h3 {
    margin: .5em 0 .8em;
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 28px; }
  .post .post__content p, .post .post__content div {
    font-size: .9rem; }
.post .post__rating {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .post .post__rating > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .post .post__rating > div:first-child {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .post .post__rating i {
    margin-right: 5px; }

.post-jump a {
  font-size: .85em;
  display: block;
  line-height: 1.2;
  padding: 4px 0; }
.post-jump .jump {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 250px; }
  .post-jump .jump li {
    display: block;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: 3px solid rgba(194, 24, 91, 0.3);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    -ms-transition: 0.25s;
    transition: 0.25s; }
    .post-jump .jump li:hover {
      border-left: 3px solid #c2185b;
      background-color: rgba(194, 24, 91, 0.15); }
      .post-jump .jump li:hover a {
        text-shadow: none;
        color: #c2185b !important; }

.post-share {
  position: fixed;
  bottom: 190px;
  right: 32px;
  z-index: 2; }

.post-relates {
  position: fixed;
  bottom: 64px;
  left: 0;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  padding: 20px;
  transition: .25s ease-in-out;
  transform: translateX(-100%);
  border-right: 4px solid #c2185b; }
  .post-relates h5 {
    position: relative;
    margin-bottom: 10px; }
    .post-relates h5:after {
      position: absolute;
      bottom: -5px;
      height: 2px;
      width: 50px;
      background-color: #c2185b;
      display: block;
      content: ''; }

.tabs__link {
  background-color: #fff; }
  .tabs__link span {
    color: #212121; }
  .tabs__link.tabs__link--is-active {
    background-color: #c2185b; }
    .tabs__link.tabs__link--is-active span {
      color: #fff; }

.search-section {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden; }
  .search-section.active {
    display: block;
    visibility: visible;
    opacity: 1; }
  .search-section .btn-close-search {
    position: absolute !important;
    top: 32px;
    right: 32px; }
  .search-section > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-height: 100%; }

.search__input input {
  height: auto;
  padding: 5px 0;
  font-size: 2em;
  font-weight: 600; }

.search__result {
  margin-bottom: 32px;
  overflow-x: hidden;
  overflow-y: scroll; }

.result-collection {
  list-style: none; }
  .result-collection .result-item {
    padding: 10px 0; }
    .result-collection .result-item > a {
      font-weight: 600;
      line-height: 1.2em;
      display: block;
      margin-bottom: 5px; }

.result-collection > li + li {
  border-top: 1px dashed #c2185b; }

/*# sourceMappingURL=quang.css.map */
