a {
  text-decoration: none;
  color: #212121 !important;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  -ms-transition: 0.25s;
  transition: 0.25s;
  position: relative;
  overflow: hidden;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  a:before {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    height: 2px;
    width: 100%;
    background: #212121;
    opacity: 0;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: translateX(-40%);
    -moz-transform: translateX(-40%);
    -ms-transform: translateX(-40%);
    -o-transform: translateX(-40%);
    transform: translateX(-40%); }
  a:hover {
    color: #f42 !important; }
    a:hover:before {
      width: 100%;
      opacity: 1;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }

.bgc-main {
  background-color: #212121 !important; }

.tc-main {
  color: #212121 !important; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }
  .absolute.absolute--full {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }

.img-circle {
  border-radius: 50%; }

.text-capitalize {
  text-transform: capitalize; }

.header {
  overflow: hidden; }

.nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 96px; }
  .nav .nav__left {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .nav .nav__left img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
      margin: 0 20px; }
    .nav .nav__left a {
      display: block;
      height: 96px;
      line-height: 96px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.1em;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); }
  .nav .nav__right {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .nav .nav__right .menu, .nav .nav__right li {
      list-style: none;
      margin: 0;
      padding: 0; }
      .nav .nav__right .menu:after, .nav .nav__right li:after {
        display: block;
        content: '';
        clear: both; }
      .nav .nav__right .menu li, .nav .nav__right li li {
        display: block;
        float: left; }
      .nav .nav__right .menu a, .nav .nav__right li a {
        display: block;
        float: left;
        height: 96px;
        line-height: 96px;
        font-size: 1rem;
        font-weight: 600;
        padding: 0 16px; }
    .nav .nav__right .btn-toggle-search {
      margin: 0 16px; }

.s-post-container {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.s-post {
  margin-top: 1rem;
  margin-bottom: 3rem; }
  .s-post .s-post__title a {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    display: block;
    padding: 1em; }
  .s-post .s-post__social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .s-post .s-post__social .social-left {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    .s-post .s-post__social .social-right .fab__actions {
      z-index: 3; }
  .s-post .s-post__lasted-comment {
    background: #f9f9f9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px; }
    .s-post .s-post__lasted-comment img {
      margin-right: 10px; }
    .s-post .s-post__lasted-comment div {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: .85em; }
  .s-post .s-post__preview {
    position: relative;
    overflow: hidden; }
    .s-post .s-post__preview a {
      position: static !important; }
    .s-post .s-post__preview img {
      max-width: 100%;
      display: block;
      object-fit: cover;
      -webkit-filter: grayscale(100%);
      /* Chrome, Safari, Opera */
      filter: grayscale(100%); }
    .s-post .s-post__preview .description {
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.4);
      color: #fff;
      font-size: .9em;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      -ms-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      -webkit-transform: translateY(32px);
      -moz-transform: translateY(32px);
      -ms-transform: translateY(32px);
      -o-transform: translateY(32px);
      transform: translateY(32px);
      opacity: 0; }
    .s-post .s-post__preview:hover .description {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
  .s-post:hover img {
    -webkit-filter: grayscale(0);
    /* Chrome, Safari, Opera */
    filter: grayscale(0); }

/*# sourceMappingURL=quang.css.map */
