<div class="post card">
    <div class="post__cover">
        <img src="~/Content/images/bg/16.png" class="img-responsive" />
    </div>

    <div class="post__tag p">
        <ul class="tags">
            <li><a href="@Url.Action("Tag","Blog")">#lorem</a></li>
            <li><a href="@Url.Action("Tag","Blog")">#ipsum</a></li>
            <li><a href="@Url.Action("Tag","Blog")">#dolir sit</a></li>
        </ul>

        <div class="text-right timestamp statistic">
            <lx-icon lx-size="l" lx-id="clock" lx-color="blue" lx-type="flat"></lx-icon> <span class="ml-">08/30/2016</span>
        </div>
    </div>

    <div class="post__info">
        <h2 class="post__title">
            <a href="@Url.Action("Post","Blog")" class="pv">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</a>
        </h2>

        <div class="post__description mt+">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo<a href="#">[...]</a>
        </div>
    </div>

    <div class="post__statistic statistic">
        <div class="stt__viewer">            
            <lx-fab lx-direction="up">
                <lx-fab-trigger>
                    <lx-button lx-size="xl" lx-type="fab" lx-tooltip="share" class="bgc-main" lx-tooltip-position="left">
                        <i class="mdi mdi-share-variant"></i>
                        <i class="mdi mdi-shape-rectangle-plus"></i>
                    </lx-button>
                </lx-fab-trigger>

                <lx-fab-actions>
                    <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="facebook" lx-tooltip-position="left">                        
                        <i class="fa fa-facebook"></i>
                    </lx-button>

                    <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="twitter" lx-tooltip-position="left">
                        <i class="fa fa-twitter"></i>
                    </lx-button>

                    <lx-button lx-size="l" lx-color="black" lx-type="fab" lx-tooltip="google plus" lx-tooltip-position="left">
                        <i class="fa fa-google-plus"></i>
                    </lx-button>
                </lx-fab-actions>
            </lx-fab>
        </div>
        <div class="stt__interactive">
            <ul class="list-unstyle m0 text-right">
                <li>
                    <span>20</span> <lx-icon lx-id="comment-text" lx-size="m" lx-color="blue" lx-type="flat"></lx-icon>
                </li>
                <li>
                    <span>20</span> <lx-icon lx-id="account-circle" lx-size="m" lx-color="blue" lx-type="flat"></lx-icon>
                </li>
                <li>
                    <span>9</span> <lx-icon lx-id="star" lx-size="m" lx-color="blue" lx-type="flat"></lx-icon>
                </li>
            </ul>
        </div>
    </div>

</div>
